.widget {
  min-width: 270px;
  padding: 10px;
  border-radius: 10px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #64748b;

  .total {
    padding-top: 10px;
    font-weight: 600;
  }

  .more {
    width: 100%;
    text-align: right;
    font-size: 0.8rem;
    font-weight: 500;
    color: #64748b;

    &:hover {
      text-decoration: underline;
    }
  }
}
