.new-director {
  form {
    div {
      padding: 10px 0;
    }
  }
}

.dir-details {
  .job {
    padding: 10px 0;
  }
  p {
    text-transform: capitalize;
    font-weight: 500;
    color: #64748b;
  }
}
